.header {
  display: flex;
  justify-content: center;
  height: 130px;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-inner ul {
  display: flex;
  list-style-type: none;
}

.header-inner i {
  font-size: 20px;
  align-self: center;
  cursor: pointer;
}

.header-inner h1 a {
  text-decoration: none;
  color: var(--font-dark);
}

.header-inner ul a {
  margin: 0px 15px;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-muted-dark);
  letter-spacing: 0.5px;
  transition: 0.2s ease;
  text-decoration: none;
}

.header-inner ul a:hover {
  color: var(--font-dark);
}

input {
  width: 400px;
  height: 35px;
  outline: none;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
