/* Font Open Sans font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --font-dark: #1e234b;
  --font-muted-dark: #adafbd;
  --font-light: #fff;
  --font-item: #585858;
}

/* Main Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  min-height: 100vh;
}

.split {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 5px;
  background: var(--font-dark);
  color: var(--font-light);
  padding-left: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

footer .ft {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e3e3e3;
  width: 100%;
  height: 100px;
  color: var(--font-muted-dark);
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 1780px;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

a {
  text-decoration: none;
}
